@layout SubLayout 
@page "/computervaardigheden"

<ul class="computervaardigheden">
    <li>
        <h3>Programmeertalen & web ontwikkeling </h3>
        <ul>
            <li>
                <b>C#</b> <img src="Images/Logo_Csharp.png" class="resize" />
                <p>De programmeertaal die ik tegenwoordig het vaakst gebruik en waar ik graag verder mee aan de slag wil.</p></li>
            <li>
                <b>Javascript</b> <img src="Images/JS_Logo.png" class="resize" />
                <p>Naast de theoretische basis heb ik Javascript reeds gebruikt in een aantal projecten (zie bv <a href="https://github.com/coudronw/JavascriptBasis/tree/master/PeriodiekSysteem" class="ervaringLink">periodiek systeem met spel in vervat</a>) en werd een deel van deze website geschreven door gebruik te maken van JS interop.</p>
            </li>
            <li>
                <b>Html</b> <img src="Images/HTML_Logo.png" class="resize" />
                <p>Werd gedurende de opleiding uiteraard meegegeven en gebruik ik frequent in mijn projecten.</p>
            </li>
            <li>
                <b>Css</b> <img src="Images/CSS_Logo.png" class="resize" />
                <p>Reeds in veel projecten heb ik css gebruikt. Ik gebruik ook liever geen floats in mijn css.</p>
            </li>            
            <li>
                <b>asp.net core MVC</b> <img src="Images/NET_Core_Logo.png" class="resize"/>
                <p>Naast een theoretische basis heb ik asp.net core MVC gebruikt om in een scrumproject samen met anderen een webapplicatie te schrijven. Hierin werd een MS SQL Server database gekoppeld door middel van het entity framework en werd het project opgesteld volgens het MVC patroon.</p>
            </li>
            <li>
                <b>Git</b> <img src="Images/Git_Logo.png" class="resize"/>
                <p>Ik gebruik Github om mijn projecten op te slaan, ook heb ik gedurende een scrumproject in mijn opleiding Git gebruikt om samen met anderen aan een project te werken. Pushen, pullen, mergen en committen zijn me welgekend.</p>
            </li>
            <li>
                <b>SQL</b> <img src="Images/SQL_Logo.png" class="resize"/>
                <p>Het schrijven van queries vind ik leuk.</p>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="h3Padding">Statistische software</h3>
        <ul>
            <li>
                <b>R-Studio</b> <img src="Images/R.png" class="resize" />
                <p>R is een programmeertaal die vaak gebruikt wordt voor statistische doeleinden. Met deze programmeertaal heb ik uitgebreide werkervaring. Naast het uitvoeren van statistiek en het maken van grafieken heb ik dit ook reeds gebruikt voor het schrijven van allerhande scripts.</p>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="h3Padding">Modelleringssoftware</h3>
        <ul>
            <li>
                <b>GroIMP </b><img src="Images/GroIMP.png" class="resize" />
                <p>Dit is een 3D modelleringsplatform waarin ik in de programmmeertaal Java een aantal structuren heb nagebouwd en waarin ik zonlicht simulaties heb uitgevoerd. Het lichtmodel maakt hierin gebruik van ray-tracing.</p>
            </li>
            <li>
                <b>AquaCrop </b><img src="Images/AquaCrop.png" class="resize" />
                <p>Uitgebreide werkervaring met dit model: Dit is een gewasgroeimodel waarin waterbeschikbaarheid de belangrijkste groeimotor is.</p>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="h3Padding">Microsoft office</h3>
        <ul>
            <li>
                <b>Word, Excel en Powerpoint</b>
                <p>Deze programmas heb ik reeds vaak gebruikt voor het verwerken van data, het schrijven van papers en het maken van allerhande presentaties.</p>
            </li>
        </ul>
    </li>    
    <li>
        <h3 class="h3Padding">Typografische software</h3>
        <ul>
            <li>
                <b>LaTeX</b>
                <p>Met dit programma heb ik reeds ervaring voor het schrijven van mijn thesis.</p>
            </li>
        </ul>
    </li>
</ul>



@code {

}
