@page "/contact"
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager

<PageTitle>Contact</PageTitle>

<h2>Contact</h2>

<div class="contactPage">
    <div class="row">
        <span class="contactText">Stuur mij een Email</span>
        <div class="arrowright"></div>
        <img src="/Images/Envelope.png" class="ContactIc" @onclick="OpenEmail"/>
    </div>
    <div class="row">
        <span class="contactText">Bezoek mijn LinkedIn</span>
        <div class="arrowright"></div>
        <a href="https://www.linkedin.com/in/willem-coudron-855244258/" class="actionLinkedin"><img src="/Images/in.png" class="ContactIc" /></a>
    </div>
    <div class="row">
        <span class="contactText">Download mijn CV</span>
        <div class="arrowright"></div>
        <a href="/Files/CoudronWillem_CV.pdf" target="_blank" class="actionLinkedin"><img src="/Images/CV.png" class="ContactIc"/></a>
    </div>
</div>


@code {
    private void OpenEmail()
    {
        var emailAddress = "coudronw@gmail.com";

        var emailUrl = $"mailto:{emailAddress}";
        NavigationManager.NavigateTo(emailUrl);
    }
}
