@page "/"

<PageTitle>Home</PageTitle>

<div class="backgroundImg">
    <h1 class="center">Welkom op mijn website!</h1>

    <p class="centerHome">
        Mijn naam is <b>Willem</b>, aangenaam! 
    </p>

    <p class="centerHome">
        Deze website werd ontwikkeld in het .NET framework met <b>Blazor</b> en is bedoeld om mezelf voor te stellen.
    </p>
</div>

