@page "/overmij"
@inject IJSRuntime JSRuntime;

<PageTitle>OverMij</PageTitle>

<h2>Over mij</h2>
<div class="OverMij">
    <div>
        <p>
            Als je mijn loopbaan hebt bekeken in mijn CV vraag je je misschien af waarom ik een overstap heb gemaakt van biologie naar IT. 
            Toen ik jong was had ik altijd een brede wetenschappelijke interesse en loste ik ook graag eens een puzzel op, een opleiding biologie leek mij toen een goede keuze. 
            Tijdens mijn opleiding werd het me echter duidelijk dat programmeren mij sterk beviel. 
            Dit werd me onder meer duidelijk bij het volgen van lessen over Python, niet het dier, maar de programmeertaal. 
            Hoewel het voor de meeste biologen extreem verwarrend was dat we programmeerden in de programmeertaal Python, op het platform Spyder, die geïnstalleerd was op het platform Anaconda, was het met wel duidelijk dat ik dit graag deed. 
            Dit beeld werd verder versterkt door een stage op ILVO tijdens mijn biologie opleiding, omdat modellering een groot thema was in deze stage kwam ik in contact met Java in de 3D modellerings software GroIMP.
            Hierin maakte ik 3D modellen en voerde ik lichtsimulaties uit. Daarnaast gebruikte ik ook R om scripts te schrijven om data te verwerken en visualiseren.
            Na mijn opleiding heb ik dan ook besloten onderzoek te doen op ILVO en dus het programmeerwerk op deze manier verder door te zetten. 
            Nu wil ik echter van development en programmeren mijn volledige carrière maken.
        </p>
        <p>
            Naast mijn professioneel leven heb ik uiteraard ook nog een aantal hobby's. Onrechtstreeks lijken deze soms toch verbonden aan het professionele pad dat ik wil bewandelen.
        </p>
        <p>
            Tegenwoordig is de hobby die ik het meest beoefen boulderen. 
            Voor de mensen die dit niet kennen, dit is klimmen, op lage hoogte, zonder touw om je te beveiligen, maar met een mat om je op te vangen als je valt. 
            Gezien de populariteit van deze sport sterk is toegenomen de laatste jaren is er in je nabije kring waarschijnlijk wel nog iemand die deze sport beoefent.
            Hoe is deze sport gelinkt aan programmeren? Ik link dit aan programmeren door het oplossingsgericht denken die je in beide disciplines nodig hebt. 
            Als je op een boulder je lichaam op de foute manier beweegt, lig je een halve seconde later gegarandeerd op de mat. Toch maar iets anders proberen om boven te geraken? 
            Op dezelfde manier krijg je een probleem voorgeschoteld in je code en probeer je bovenop het probleem te geraken.
        </p>
        <p>
            Een tweede hobby die ik vaak beoefen is schaken, zo frustrerend het is een bug in je code te hebben is het een foute zet te doen in schaken. 
            Maar toch keer je telkens terug naar het schaakbord of de code waar je bug in vervat zit om het toch juist te doen.
            Verder heeft schaken me ook wat bijgeleerd hoe het leerproces werkt. 
            Een skill kan je op extreem veel verschillende niveaus beheersen, wat niet betekent dat een expert niet immuun is voor flaters en soms belangrijke zaken over het hoofd ziet. 
            Schaken lijkt me ook een mooi voorbeeld over hoe je met redelijk weinig leren over een topic plots toch als specialist wordt gezien door ongetrainde mensen. 
            Het mooiste aan dit idee vind ik het feit dat iedereen die je tegenkomt skills bezit waar zij beter in zijn of meer van weten dan jezelf en je dus van kunt leren.
            Dit maakt schaken voor mij ook een mooie les in bescheidenheid.
        </p>
    </div>
    <div>
        <canvas id="Canvas" @onclick="@(async e => await CrackGlass(e))"></canvas>
        <p><img src="Images/Warning.png" class="resize" /><b>Breekbaar</b></p>
    </div>
    
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        await JSRuntime.InvokeVoidAsync("prepareCanvas", "Canvas");
    }

    double x;
    double y;
    private async Task CrackGlass(MouseEventArgs e)
    {
        x = e.ClientX;
        y = e.ClientY;

        string ID = "Canvas";

        await JSRuntime.InvokeVoidAsync("crackGlass", ID, x, y);
    }
}
