@layout SubLayout
@page "/publicaties"

<h3>Wetenschappelijke publicaties (A1)</h3>
<ul>
    <li class="listPublicaties">Coudron, W., Gobin, A., Boeckaert, C., De Cuypere, T., Lootens, P., Pollet, S., Verheyen, K., De Frenne, P., De Swaef, T. 2021. Data collection design for calibration of crop models using practical identifiability analysis. COMPUTERS AND ELECTRONICS IN AGRICULTURE, 190. https://doi.org/10.1016/j.compag.2021.106457</li>
    <li class="listPublicaties">De Swaef, T., Pieters, O., Appeltans, S., Borra-Serrano, I., Coudron, W., Couvreur, V., Garré, S., Lootens, P., Nicolaï, B., Pols, L., Saint Cast, C., Šalagovič, J., Van Haeverbeke, M., Stock, M., wyffels, F., 2022. On the pivotal role of water potential to model plant physiological processes. in silico Plants 4, diab038. https://doi.org/10.1093/insilicoplants/diab038</li>
    <li class="listPublicaties">Coudron, W., De Frenne, P., Verheyen, K., Gobin, A., Boeckaert, C., De Cuypere, T., Lootens, P., Pollet, S., De Swaef, T. 2023. Usefulness of cultivar-level calibration of AquaCrop for vegetables depends on the crop and data availability. Frontiers in Plant Science: Plant Biophysics and Modeling</li>
</ul>


@code {

}
