@layout SubLayout
@page "/studieservaring"

<h3>Studies en ervaring</h3>
<ol class="timeline">
    <li class="container left">
        <div class="content">
            <h4>2023 – 2024</h4>
            <p> <a href="https://www.vdab.be/opleidingen/aanbod/O-AMI-750412/cursus/C-AMI-195501/_NET_ontwikkelaar_met_C%23-WEVELGEM" class="ervaringLink">VDAB opleiding .net ontwikkelaar met C#</a></p>
        </div>
    </li>
    <li class="container fillimgright"><img src="/Images/vdabOpleiding.png" class="ervaringImg" /></li>
    <li class="container fillimgleft"><img src="/Images/Onderzoek.png" class="ervaringImg"/></li>
    <li class="container right">
        <div class="content">
            <h4>2019 – 2023</h4>
            <p>Onderzoeker op <a href="https://ilvo.vlaanderen.be/nl/" class="ervaringLink">ILVO</a> (Instituut Landbouw-, Visserij- en Voedingsonderzoek)</p>
            <p class="justify">Door toedoen van onder meer verharding van de ondergrond in Vlaanderen en klimaatverandering krijgen we in de zomer vaker te maken met periodes van droogte. 
                Dit heeft onder meer een grote impact op de waterbeschikbaarheid. Efficiënt irrigeren in Vlaanderen is echter moeilijk door zeer variabele weerscondities. 
                Tegenwoordig bepalen telers wanneer en hoeveel beregend moet worden voornamelijk op basis van eigen ervaring en het opvolgen van weersvoorspellingen. 
                Terwijl te weinig irrigatie duidelijk impact kan hebben op de gewasopbrengst kan teveel irrigatie leiden tot negatieve effecten op de bodem zoals verzilting. 
                Daarom is het belangrijk om in droge periodes efficiënt gebruik te maken van de schaarse waterbronnen. 
                Tijdens mijn onderzoek hebben we op het online platform <a href="https://watchitgrow.be/en" class="ervaringLink">WatchItGrow</a> een tool ontwikkeld om telers te adviseren wanneer hun gewassen best beregend worden.
                Voorspellingen van waterbeschikbaarheid in de bodem worden hier ingeschat op basis van het AquaCrop model en geeft telers een inschatting wanneer irrigatie nodig is.</p>
        </div>
    </li>
    <li class="container left">
        <div class="content">
            <h4>2017</h4>
            <p>
                Stage op ILVO
            </p>
            <p>
                De stage focuste op licht modellering in GroIMP (programmeertaal java), het bouwen van 3-D modellen in GroIMP, het simuleren van grasgroei en de botanische samenstelling van gras bepalen.
            </p>            
        </div>
    </li>
    <li class="container fillimgright"><img src="/Images/Stage.png" class="ervaringImg" /></li>
    <li class="container fillimgleft"><img src="/Images/thesis.png" class="ervaringImg" /></li>
    <li class ="container right">
        <div class="content">
            <h4>2013 – 2018</h4>
            <p>
                Master in de biologie aan de KU Leuven, Leuven (België)
            </p>
            <p>
                Specialisatie: moleculaire biologie en fysiologie.
            </p>
            <p>
                Master thesis: “Effecten van bosfragmentatie en omgevingsvariabelen op Arbusculaire Mycorrhizale Fungi” KU Leuven, Leuven (België) 
            </p>
            <p>
                Promotor: Prof. Hans Jacquemyn
            </p>
            <p>
                Tijdens mijn masterthesis hebben we het effect onderzocht van habitatfragmentatie op de ondergrondse schimmels arbusculaire mycorrhizale fungi (AMF). Hierbij verzamelde ik stalen van plantenwortels waar deze fungi op leven, extraheerde ik het DNA en liet dit DNA sequencen om met statistische analyses te kijken hoeveel en welke soorten AMF voorkomen in grotere en kleinere / meer gefragmenteerde bossen.
            </p>
            
        </div>
    </li>
    <li class="container left">
        <div class="content">
            <h4>2007 – 2013</h4>
            <p>Middelbaar, Spes Nostra Kuurne (Wetenschappen-Economie)</p>
            
        </div>
    </li>
    <li class="container fillimgright"><img /></li>
</ol>



@code {

}
