@layout SubLayout 
@page "/talenkennis"

<h3>Talenkennis</h3>
<ul>
    <li>
        <b>Nederlands</b> <img src="Images/Vlaams.png" class="resize" /> <img src="Images/Nederlands.png" class="resize" />
        <p>Volgens mijn mama leerde ik mijn eerste woordje toen ik 1 jaar was. Sindsdien is mijn woordenschat enkel uitgebreid.</p>
    </li>
    <li>
        <b>Engels</b> <img src="Images/Engels.png" class="resize"/>
        <p>Naast dagelijks in contact te komen met Engels heb ik reeds een aantal publicaties geschreven in deze taal (Zie publicaties).</p>
    </li>
    <li><b>Frans</b> <img src="Images/Frans.png" class="resize"/>
        <p>Mijn kennis van het Frans is basis, gedurende meerdere jaren heb ik hieromtrent les gekregen in het lager en middelbaar onderwijs. Over de jaren is mijn Frans echter vrij roestig geworden, leg me een paar weken (of maanden) in cola en die roest verdwijnt wel.</p></li>
</ul>


@code {

}
